.box {
  @apply max-w-fit max-h-32 relative flex justify-center flex-col ;
}

.title {
  @apply relative flex h-[50px] w-full items-center;
}

.block {
  @apply absolute flex h-[inherit] w-0 bg-secondary animate-shift-in-left;
}

.subtitle {
  @apply relative flex h-[30px] w-full items-center;
  margin-top: -10px;
}

.subBlock {
  @apply absolute flex h-[inherit] w-0 bg-secondary animate-shift-in-left;
  animation-delay: 2s;
}

.subBlockTitle {
  @apply text-xs font-normal uppercase text-primary tracking-[5px] opacity-0 animate-fade-in;
  animation-delay: 3.2s;
}

.blockTitle {
  @apply relative flex items-baseline text-[32px] opacity-0 animate-fade-in;
  animation-delay: 1.6s;
}

.dot {
  @apply absolute bottom-[9px] right-[-12px] ml-[5px] mt-[-10px] h-0 w-0 rounded bg-secondary animate-pop-in;
  animation-delay: 2s;
}
