.project {
  @apply container relative top-0 left-0 z-0 flex h-full w-full flex-col gap-2 rounded-md p-3 overflow-hidden opacity-0 duration-300 border-2 transition-top;
}

.project:hover {
  @apply -top-2;
}

.imageContainer {
  @apply absolute top-0 left-0 w-full h-full opacity-20 -z-[1] rounded-md;
}

.image {
  @apply object-cover;
}

.description {
  @apply my-4 overflow-hidden;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
