.menuButton {
  @apply relative cursor-pointer w-[36px] h-[36px] rotate-0;
  transition: 0.5s ease-in-out;
}

.lineBox {
  @apply w-[36px] h-[20px];
  position: relative;
}

.line {
  @apply absolute left-0 block h-0.5 w-full rounded-full bg-secondary opacity-100 rotate-0;
  transition: 0.25s ease-in-out;
}

.line:nth-child(1) {
  @apply top-0;
  margin: 0 5px;
  width: 26px;
  transform-origin: left center;
}

.line:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}

.line:nth-child(3) {
  margin: 0 5px;
  top: 18px;
  width: 26px;
  transform-origin: left center;
}

.open .line:nth-child(1) {
  @apply rotate-45 left-[4px];
}

.open .line:nth-child(2) {
  @apply w-0 opacity-0;
}

.open .line:nth-child(3) {
  @apply -rotate-45 left-[4px];
}
