.title {
  @apply text-9xl font-extrabold animate-glitch;
  font-size: 96px;
  letter-spacing: -7px;
}

.title:before,
.title:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.title:before {
  @apply animate-glitch-top;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}



.title:after {
  @apply animate-glitch-bottom;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
