.menuButton {
  @apply z-10;
}
.menu {
  @apply invisible fixed top-0 bottom-0 right-0 z-[9] flex h-screen translate-x-screen-w flex-col items-center justify-center gap-8 bg-background px-4 py-12 font-mono text-xl outline-0 transition-all duration-300;
  box-shadow: -10px 0 30px -15px var(--background);
  width: min(75vw, 400px);
}

.menu.open {
  @apply visible translate-x-0;
}

.list {
  @apply flex flex-col gap-8;
}

@media screen(md) {
  .menuButton {
    @apply hidden;
  }

  .menu {
    @apply visible relative z-auto h-auto w-auto transform-none flex-row p-0 text-sm shadow-none transition-none;
  }

  .list {
    @apply flex-row;
  }
}
